.App {
  text-align: center;
}

form {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 40px auto;
}

input {
  border: none;
  border-bottom: 1px solid grey;
  padding: 5px;
}

button {
  border: none;
  background: skyblue;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
}
button:hover {
  color: white;
  background-color: steelblue;
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
}

p {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
